<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Contáctanos!</h2>
                <hr class="primary">
                <p>¡Síguenos en nuestras redes sociales!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://vimeo.com/user23207296">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <!--  <i class="fab fa-facebook-f fab-3x wow bounceIn" data-wow-delay=".1s"></i>-->
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto: inghfrancisco.morales@gmail.com {{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://wa.me/527351846787/?text=Hola%20Frank{{ site.github_username }}">
            <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.whatsapp_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="https://www.instagram.com//{{ site.github_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
